Flask==1.0.2
Flask-DebugToolbar==0.10.1
Flask-RESTful==0.3.7
Flask-WTF==0.14.2
imutils==0.5.2
numpy==1.14.5
opencv-python==4.2.0.32
pythonRLSA==0.0.1

git+https://github.com/clamsproject/clams-python-sdk.git@document-segmentation
